version: "3.7"

services:
  cb-data-portainer:
    image: portainer/portainer:latest
    container_name: cb-data-portainer
    ports:
      - 9000:9000

  cb-reverse-proxy:
    image: jenslaufer/cb-reverse-proxy
    container_name: cb-reverse-proxy
    ports:
      - 80:80
    build:
      context: .
      dockerfile: Dockerfile-nginx

  cb-importer:
    image: jenslaufer/cb-importer
    container_name: cb-importer
    # stdin_open: true
    # ty: true
    # entrypoint: bash
    environment:
      - MONGO_URI=mongodb://cb-data-db
      - LOG_LEVEL=50
    build:
      context: .
      dockerfile: Dockerfile-py

  cb-dashboard:
    image: jenslaufer/cb-data-dashboard
    container_name: cb-dashboard
    build:
      context: .
      dockerfile: Dockerfile-r
      args:
        MONGODB_URI: mongodb://cb-data-db

  cb-data-db:
    image: mongo
    container_name: cb-data-db
    ports:
      - 27017:27017
